<div class="sendGroup c_color_gradient">
        <div class="span2 spanPadding">
          <button class="confirmButton w_button w_radius w_bg_light takeAllWidth" onclick="main.warnLoginBefore('{{sendFunction}}')">
           Send inn
        </button> 
            <span class="numPackages notification_buble onTopOfButton hidden">0</span>
      </div>
      
      <div class="groups-list span1" onclick="main.attachToGroup('{{hazard}}');">
        <button class="groupButton confirmButton w_button w_radius w_bg_light takeAllWidth" >
            <span class="ellipsisText">Gruppe</span>
        </button>
        <input type="hidden" class="selectedGroup"/>
      </div>
  </div>
  
  <div class="groups hidden"> </div>
  
  