<label>Legg til skredproblem:</label>
<select class="problem_1" class="bigWidth w_select c_selectBox" style="padding-bottom: 20px; margin-bottom: 20px;">
    <option>Skredtype 1</option>
</select>
<select class="problem_2" class="bigWidth w_select c_selectBox" style="padding-bottom: 20px; margin-bottom: 20px;">
    <option>Skredtype 2</option>
</select>
<select class="problem_3" class="bigWidth w_select c_selectBox" style="padding-bottom: 20px; margin-bottom: 20px;">
    <option>Skredtype 3</option>
</select>

<label>Legg til sannsynlighet:</label>
<select class="sannsynlighet" class="bigWidth w_select c_selectBox" style="padding-bottom: 20px; margin-bottom: 20px;">
    <option>Sannsynlighet</option>
</select>
<select class="tilleggsbelastning" class="bigWidth w_select c_selectBox" style="padding-bottom: 20px; margin-bottom: 20px;">
    <option>Tilleggsbelastning</option>
</select>
<select class="storrelse" class="bigWidth w_select c_selectBox" style="padding-bottom: 20px; margin-bottom: 20px;">
    <option>Størrelse</option>
</select>

<label>Legg til plassering i snødekket:</label>
<select class="plassering" class="bigWidth w_select c_selectBox" style="padding-bottom: 20px; margin-bottom: 20px;">
    <option>Hvor i snødekket</option>
</select>

