<div class="spacer"></div>
{{#map_handler}}
    <div class="top_button">
      <input type="button" class="w_bg_light c_button fullWidth w_button" value="Se obs. fra andre steder" onclick="{{this}}" />
    </div>
{{/map_handler}}

<div class="pageScroller full" id="{{scrollerid}}">
		<ul class="w_list scrollable" >
		    {{#each list}}
		        <li class="w_list_item w_border_bottom w_bg_light" data-url="{{url}}">
		          <div class="list_element">
		           {{content}}
		          </div>
		        </li>
		    {{/each}}
		</ul>
</div>

{{^list}}
<div class="loading popup c_color_gradient">
    Ingen observasjoner funnet
</div>
{{/list}}