/*
1E7FF2
333333
484848
5D3974
*/

.testMode
{
	background-color: red;
	background-image: none !important;
}

.pp_popup
{
	left: 15%;
}

.waitingDialog
{
	text-align: center;
}

input.settingsInput 
{
	font-size: 0.8em;
    color: #2F2F2F;
    margin-bottom: 18px;
    -webkit-border-radius:2px;
    -webkit-appearance:textfield; 
}

label
{
	display: block;	
}

.table_row
{
	display: table-row;
}

.table_row a
{
	display: inline-block;
	margin: 0px 15px 15px 15px;
}

.table_row span
{
	display: block;
}

.button_image
{
	margin: 15px;
}

.standartTextSize
{
	font-size: 1.4em;
}

.settings 
{
	position: absolute;
	top: 47px;
	display: none;
	margin-top: 15px;
	margin-left: 15px;
}

input.large 
{
	width: 80%;
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	background: #E8E8E8;
	border: 1px solid #949393;
}

.c_image
{
	width: 80%;
	max-height: 50%;
	margin: 10px;
}

.c_selectBox
{
	padding: 25px 40px 25px 40px;
    text-align:center;
    height: 30px;
    width: 200px; 
    -webkit-border-radius:0px;
}

.c_button 
{
	color: #2F2F2F;
	margin-bottom: 13px;
}

.c_center_page 
{
	text-align: center; 
}

.c_textarea 
{
	margin: 10px;
}

.c_right_header_button
{
	display:block; 
	top: 5px;
	position: absolute;
	right: 5px;
}

.c_right_header_button input
{
	display: block;
	position: relative;
	
	border: 2px solid;
	overflow: hidden;
	border-color: #555;
	
	padding: 0 15px;
	
	font-size: 14px; 
	font-weight: bold;
	
	white-space:nowrap;
	text-overflow:ellipsis;
	
	text-align: right;
	
	height: 34px;
	line-height: 32px;
		
/* 	text-shadow: #000 0px -1px 0px; */
	
	border-radius: 5px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.c_align_central
{
	text-align: center;
	margin-top: 5%;
}

.c_big_button
{
	height: 133px;
}

.c_color_gradient 
{
	background-image: linear-gradient(bottom, rgb(223,223,223) 47%, rgb(237,237,237) 74%);
	background-image: -o-linear-gradient(bottom, rgb(223,223,223) 47%, rgb(237,237,237) 74%);
	background-image: -moz-linear-gradient(bottom, rgb(223,223,223) 47%, rgb(237,237,237) 74%);
	background-image: -webkit-linear-gradient(bottom, rgb(223,223,223) 47%, rgb(237,237,237) 74%);
	background-image: -ms-linear-gradient(bottom, rgb(223,223,223) 47%, rgb(237,237,237) 74%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, rgb(223,223,223)),
		color-stop(0.74, rgb(237,237,237))
	);
	
	border-color: #2F2F2F;
	color: #2F2F2F;
/* 	color: #555; */
}

/* MAIN PAGE */
.c_mainpage_button
{
	margin-bottom: 10px;	
}

.c_popup_button
{
	width: auto;
	display: inline;
}

.c_position_header {
	height: 100px;
	background-color: #484848;
	text-align: center;
}

.c_position_header span {
	display: block;
	color: white;
	padding-top: 10px;
}

/* FOOTER */
.c_footer {
	background-color: gray;
	vertical-align: bottom;
}

/* HEADER */
.w_header_custom
{
	position: relative;

	height: 45px;
	line-height: 45px;

	padding: 0 10px;

	font-size: 24px;

	text-align: center;

/* 	text-shadow: #000 0px -1px 0px; */

	-webkit-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.7);
    
/*     margin-bottom: 10px; */
}
.w_button_custom input
{
	display: block;
	position: relative;
	
	background: url(../img/back.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
	border: 0;
	width: 30px;
	height: 30px;
}



.w_button_custom.w_left
{
	position: absolute;
	top: 6px;
	left: 15px;
}

.w_button_custom.w_right
{
	position: absolute;
	top: 6px;
	right: 5px;
}

.w_button_custom 
{
	display: none;	
}

.pp_popup {
	width: 70%;
}


.bigWidth
{
	width: 90%;
}

.mediumWidth
{
	width: 60%;
}

.smallWidth
{
	width: 60%;
}

.w_icon.arrow{
  background-image: url("../img/arrow.png");
  background-size: 50%;	
}

ul.actions li{
  background-color: #F8F8F8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#A1A1A1));
	background-image: -moz-linear-gradient(top,#F8F8F8,#A1A1A1);
	color: #2F2F2F;
  border-bottom: 1px solid white;	
}

.sl_container{
  background-image: url("../img/bakgrunn.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.w_header_custom{
	z-index: 200;
}

#regobs-info{
  background: url("../img/regobs-logo.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  top:5px;
}

.header-button{
  height: 35px;
  width: 35px;	
  position: absolute;
}

#login{
	
	background: url(../img/loggedout.png);
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}

.footer {
	height: 50px;
	padding: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
  z-index: 100;
  background: url(../img/snarevei-bg.png);
  overflow:hidden;
}

.shortcut{
	display: inline-block;
	width: 23.5%;
	height: 100%;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 50%;
	overflow:hidden;
}

.fav-inactive{
	opacity: .3;
}

.shortcut.last{
	border-right: none;
}

.shortcut.home{
  background-image: url(../img/hjem.png);
}

.shortcut.fav{
  background-image: url(../img/stjerne.png);
}

.shortcut.camera{
  background-image: url(../img/camera.png);
}

.shortcut.setting{
  background-image: url(../img/instillinger.png);
}
	
.c_center_page{
	padding-bottom: 60px;
}

#information{
	margin: 2%;	
	width: inherit;
	
}

#information_content{
	padding-bottom: 60px;
}

#learning_content, #information{
  text-align: left;
  padding: 2%;
}

#learning_content h3, #learning_content h1,#learning_content h2,
#information h3, #information h1,#information h2{
  text-align: center;
  
}

.learning_icon img{
  vertical-align: bottom;	
}

.content_page{
  padding-top:10px;	
}


#dialog{
  position:relativ;
  height: 200%;
  width: 100%;
  
  
  top: 0;
  left: 0;
  
  z-index: 1000;
  
  display:none;	
}

#shading{
	background: #ccc;
  
  position:absolute;
  width: 100%;
  height: 100%;
}

#popup{
	width: 90%;
	border: 1px solid black;
	top: 10%;
	position: relative;
	display: block;
	opacity: 1;
	background: #333;
	color: white;
	margin: 0 auto;
	
	border-radius: 5px;
	padding: 2%;
	
	text-align:center;
}

#popup_content{
  margin: 3%;	
}

.popupbutton-single{
  width: 80%;	
}

.popupbutton-dual{
  width: 40%;
  margin-left: 20px; 
}

.no-image{
	height: 80px;
	width: 100%;
	background: url(../img/kamera.png) no-repeat center top;
	padding-top: 50px;
}

.hidden{
	display:none;
}

 