/*
1E7FF2
333333
484848
5D3974
*/

body{
	zoverflow: hidden !important;
	
}

*{
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.testMode
{
	background: #f85032; /* Old browsers */
	background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ) !important; /* IE6-9 */
}

.pp_popup
{
	left: 15%;
}

.waitingDialog
{
	text-align: center;
}

input.settingsInput 
{
	font-size: 0.8em;
    color: #2F2F2F;
    margin-bottom: 18px;
    -webkit-border-radius:2px;
    -webkit-appearance:textfield; 
}

label
{
	display: block;	
}

.table_row
{
	display: table-row;
}

.table_row a
{
	display: inline-block;
	margin: 0px 15px 15px 15px;
}

.table_row span
{
	display: block;
}

.button_image
{
	margin: 15px;
}

.standartTextSize
{
	font-size: 1.4em;
}

.settings 
{
	position: absolute;
	top: 47px;
	display: none;
	margin-top: 15px;
	margin-left: 15px;
}

input.large 
{
	width: 80%;
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	background: #E8E8E8;
	border: 1px solid #949393;
}

.c_image
{
	width: 80%;
	margin: 10px;
}

.c_selectBox
{
	padding: 25px 40px 25px 40px;
    text-align:center;
    height: 30px;
    width: 200px; 
    -webkit-border-radius:0px;
}

.c_button 
{
	color: #2F2F2F;
	margin-bottom: 13px;
}

.c_center_page 
{
	text-align: center; 
}

.c_textarea 
{
	margin: 10px;
}

.c_right_header_button
{
	display:block; 
	top: 5px;
	position: absolute;
	right: 5px;
}

.c_right_header_button input
{
	display: block;
	position: relative;
	
	border: 2px solid;
	overflow: hidden;
	border-color: #555;
	
	padding: 0 15px;
	
	font-size: 14px; 
	font-weight: bold;
	
	white-space:nowrap;
	text-overflow:ellipsis;
	
	text-align: right;
	
	height: 34px;
	line-height: 32px;
		
/* 	text-shadow: #000 0px -1px 0px; */
	
	border-radius: 5px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.c_align_central
{
	text-align: center;
	margin-top: 5%;
}

.margin_central{
	margin: 0 auto;	
}

.c_big_button
{
	height: 133px;
}

.c_color_gradient 
{
	 background-image: linear-gradient(bottom, rgb(223,223,223) 47%, rgb(237,237,237) 74%);
   background-image: -o-linear-gradient(bottom, rgb(223,223,223) 47%, rgb(237,237,237) 74%);
   background-image: -moz-linear-gradient(bottom, rgb(223,223,223) 47%, rgb(237,237,237) 74%);
   background-image: -webkit-linear-gradient(bottom, rgb(223,223,223) 47%, rgb(237,237,237) 74%);
   background-image: -ms-linear-gradient(bottom, rgb(223,223,223) 47%, rgb(237,237,237) 74%);

   background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.47, rgb(223,223,223)),
            color-stop(0.74, rgb(237,237,237))
    );
	
	border-color: #2F2F2F;
	color: #333;
}

.c_darker_gradient, input.pressed{
	background: #5a5a5a; /* Old browsers */
	background: -moz-linear-gradient(top,  #5a5a5a 0%, #5a5a5a 50%, #4d4d4d 51%, #4d4d4d 71%, #4d4d4d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a5a5a), color-stop(50%,#5a5a5a), color-stop(51%,#4d4d4d), color-stop(71%,#4d4d4d), color-stop(100%,#4d4d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5a5a5a 0%,#5a5a5a 50%,#4d4d4d 51%,#4d4d4d 71%,#4d4d4d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5a5a5a 0%,#5a5a5a 50%,#4d4d4d 51%,#4d4d4d 71%,#4d4d4d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5a5a5a 0%,#5a5a5a 50%,#4d4d4d 51%,#4d4d4d 71%,#4d4d4d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5a5a5a 0%,#5a5a5a 50%,#4d4d4d 51%,#4d4d4d 71%,#4d4d4d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5a5a', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
	
	
	border-color: #2F2F2F;
	color: #ffffff;
}

.c_red_gradient{
	color: white;
  background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

}
.c_red_reverse_gradient, a.c_red_gradient:active{
	color:white;
	background: #cf0404; /* Old browsers */
	background: -moz-linear-gradient(top,  #cf0404 0%, #ff3019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf0404), color-stop(100%,#ff3019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cf0404 0%,#ff3019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cf0404 0%,#ff3019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cf0404 0%,#ff3019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cf0404 0%,#ff3019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#ff3019',GradientType=0 ); /* IE6-9 */
}



/* MAIN PAGE */
.c_mainpage_button
{
	margin-bottom: 10px;	
}

#regobs-name{
	text-align: left;
	padding-left: 45px;
}

.c_popup_button
{
	width: auto;
	display: inline;
}

.c_position_header {
	height: 100px;   
	background-color: #222222;
	text-align: center;
}

.c_position_header span {
	display: block;
	color: white;
	padding-top: 10px;
}

/* FOOTER */
.c_footer {
	background-color: gray;
	vertical-align: bottom;
}

/* HEADER */
.w_header_custom
{
	position: relative;
	height: 45px;
	line-height: 45px;
	padding: 0 10px;
	font-size: 24px;
	text-align: center;

}

.w_button_custom 
{
	display: none;	
}

.pp_popup {
	width: 70%;
}

.fullWidth{
	width: 100%;
}



.bigWidth
{
	width: 90%;
}

.mediumWidth
{
	width: 60%;
}

.smallWidth
{
	width: 60%;
}

.center{
  margin:auto;
}

.actions{
	margin-top : 10px;
	margin-bottom: 45px;
}

.w_icon.arrow{
  background-image: url("../img/arrow.png");
  background-size: 50%;	
}

ul.actions li{
  background-color: #F8F8F8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#A1A1A1));
	background-image: -moz-linear-gradient(top,#F8F8F8,#A1A1A1);
	color: #2F2F2F;
  border-bottom: 1px solid white;	
}

.sl_container{
  background-image: url("../img/bakgrunn.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  
  position:static;
}

.sl_page, .content_page{
	padding-top: 0px !important;
}

.spacer{
	height: 45px;
}

.scrollSpacer{
	height: 120px;
}
	

.w_header_custom{
	z-index: 200;
}

#regobs-info{
  background: url("../img/regobs-logo.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  top:5px;
}

.header-button{
  height: 35px;
  width: 35px;	
  position: absolute;
}

#login{
	
	background: url(../img/loggedout.png);
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}

.footer {
	height: 45px;
	padding: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
  z-index: 100;
  
  overflow:hidden;
  
  background: #918a86; /* Old browsers */
	background: -moz-linear-gradient(top,  #918a86 0%, #918a86 50%, #847e7a 51%, #847e7a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#918a86), color-stop(50%,#918a86), color-stop(51%,#847e7a), color-stop(100%,#847e7a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #918a86 0%,#918a86 50%,#847e7a 51%,#847e7a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #918a86 0%,#918a86 50%,#847e7a 51%,#847e7a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #918a86 0%,#918a86 50%,#847e7a 51%,#847e7a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #918a86 0%,#918a86 50%,#847e7a 51%,#847e7a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#918a86', endColorstr='#847e7a',GradientType=0 ); /* IE6-9 */
	  
}


.shortcut{
	display: inline-block;
	width: 23.5%;
	height: 100%;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 50%;
	overflow:hidden;
}

.fav-inactive{
	opacity: .3;
}

.shortcut.last{
	border-right: none;
}

.shortcut.home{
  background-image: url(../img/hjem.png);
}

.shortcut.fav{
  background-image: url(../img/stjerne.png);
}

.shortcut.camera{
  background-image: url(../img/camera.png);
}

.shortcut.setting{
  background-image: url(../img/instillinger.png);
}
	
.c_center_page{
	padding-bottom: 40px;
}


#learning_content,
#information{
	margin: 2%;	
	width: inherit;
	
}

#information_content{
	padding-bottom: 60px;
}

#learning_content, #information{
  text-align: left;
  padding: 2%;
}


#learning_content h3, #learning_content h1,#learning_content h2,
#information h3, #information h1,#information h2{
  text-align: center;
  
}

.learning_icon img{
  vertical-align: bottom;
}

.learning_icon{
  margin: 20px;
  position: absolute;
  right: 0px;
  top: 35px;
  zindex: 1000;
}

.snow_problem_content .learning_icon{
	top: 30px;
}

.content_page{
  padding-top:10px;	
}


#dialog{
  position:relative;
  height: 200%;
  width: 100%;
  
  
  top: 0;
  left: 0;
  
  z-index: 1000;
  
  display:none;	
}

#shading{
	background: #ccc;
  
  position:absolute;
  width: 100%;
  height: 100%;
}

#popup{
	width: 90%;
	border: 1px solid black;
	top: 10%;
	position: relative;
	display: block;
	opacity: 1;
	background: #333;
	color: white;
	margin: 0 auto;
	
	border-radius: 5px;
	padding: 2%;
	
	text-align:center;
}

#popup_content{
  margin: 3%;	
}

.popupbutton-single{
  width: 80%;	
}

.popupbutton-dual{
  width: 40%;
  margin-left: 20px; 
}

.popup{
	position: absolute;
	top: 40%;
	margin: 0 auto;
	padding: 20px;
	
	left: 30%;
	width: 40%
}

.loading{
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	
 	-webkit-box-shadow: 0px 1px 3px 1px rgba(10, 10, 10, 0.5);
  box-shadow: 0px 1px 3px 1px rgba(10, 10, 10, 0.5);

}

.spinner{
	background: url('../img/ajax-loader.gif') no-repeat center; 
	width: 20px;
	height: 20px;
	display:inline-block;
}

.no-image{
	height: 80px;
	width: 100%;
	background: url(../img/kamera.png) no-repeat center top;
	padding-top: 50px;
}

.hidden{
	display:none;
}

.right{
	margin: 10px;
	float:right;	
}

.scaled-frame{
    zoom: 0.7;
    -moz-transform: scale(0.7);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.7);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: 0 0;
}
 
.onTopOfButton{
	position:absolute;
	top: 9px;
	right: 33%;
	font-size: 14px;
	font-weight: bold;
	text-indent: 9px;
}

.takeAllWidth{
	width:100%;
}

.composedButtonContainer{
	position:relative;
}

.checked{
	background: url("../img/check.png") no-repeat center;
}

.numPackages{
	margin-right: 50px;
}

.group-list-button{
	height: 50%;
	width: 30px;
	background: url("../img/chooise.png") no-repeat right;
	background-size: contain;
	
	border-left: 1px solid #ccc;
}

.extendedButton{
	background: #BBB;
	border: 1px solid #999;
	border-radius: 5px;
	
	margin-bottom: 80px;
}

.notLoggedIn .extendedButton{
	background: none;
	border: 0px;
}


.notLoggedIn .groups-list, .notLoggedIn .emailButton {
	 display:none;
}

.addAbort, .sendGroup{
	position: absolute;
	left: 0;
	right: 0;
	padding: 5px;
  
	border: 1px solid black;
}

.sendGroup input[type=button], .sendGroup button, .sendGroup select, .addAbort button{
	-webkit-box-shadow:  0px 1px 3px 1px rgba(10, 10, 10, 0.5);
	box-shadow:  0px 1px 3px 1px rgba(10, 10, 10, 0.5);
}

.span2{
	width:60%; 
	display: inline-block;
}

.span1{
	width: 30%;
	display: inline-block;
}

.span15{ 
	width: 45%;
	display: inline-block;
}

.spanPadding{	
	margin-left: 1%;
	margin-right: 1%;
}

.attachToBottom{
	position: fixed;
	bottom: 49px;
	width: 100%;	
}

.border-less{
	border: none;	
	background: none;
	font-size: 1.4em
}

.as-text{
	text-align: right;
	width: 30%;
}

.inline{
	display:inline;
}

.list{
	text-align: left;
	margin-left: 20px;	
}

.pressed{
	background-image: linear-gradient(top, rgb(223,223,223) 47%, rgb(237,237,237) 74%);
   background-image: -o-linear-gradient(top, rgb(223,223,223) 47%, rgb(237,237,237) 74%);
   background-image: -moz-linear-gradient(top, rgb(223,223,223) 47%, rgb(237,237,237) 74%);
   background-image: -webkit-linear-gradient(top, rgb(223,223,223) 47%, rgb(237,237,237) 74%);
   background-image: -ms-linear-gradient(top, rgb(223,223,223) 47%, rgb(237,237,237) 74%);

   background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.47, rgb(223,223,223)),
            color-stop(0.74, rgb(237,237,237))
    );	
}
.ellipsisText{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.ellipsis:after{
  content:'...';
}

.listScroller, .pageScroller, .divScroller{
	overflow: hidden;
}

.list_element{
	width: 80%;
	margin: 0 2%;
	white-space: normal;
	line-height: normal;
	text-indent: 0;
	padding: 13px 0;
	font-weight: normal;
}

.w_list_item{
	height: inherit !important;
}
	


.listScroller ul, .listScroller .scrollable, .pageScroller .scrollable{
  xposition: absolute;	
}

.pageScroller .scrollable{
	padding-bottom: 150px;
}

.selfScroll{
	overflow: scroll;
}

.observation label{
  margin-top: 10px;	
}

label.small{
	color: #999;
	font-size: .8em;
	line-height: 1;
	margin: 0;
	text-shadow: 1px 1px #ccc;
}

.oneline-label {
	text-align: left;	
}

.oneline-label input[type=checkbox]{
	margin: 20px;
}

.oneline-label label{
	display: inline-block;
}

.description{
	font-size: .8em;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
}


#map, #map_page{
	width: 100%;
	height: 100%;
}

.max80px{
	max-height: 80px;
}

#back{
	display: none;
}

#back input{
	position: absolute;
	left: 2px;
	top: 6px;
	
  background: url(../img/back.png);
	background-repeat: no-repeat;
	background-size: 100% ;
	
	border: none;
	font-size: 0.8em;
	height: 38px;
	text-align: right;
	width: 90px;
	
	color: white;
	text-shadow: #ccc 1px -1px 1px;
}

.expositions{
  margin: auto	
}

.expositions input{
  width: 60px;
}

ul.snow_problem li{
	text-align: left;
}
