<?xml version="1.0" encoding="UTF-8" ?>
 <widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    versionCode="10" <!-- optional: Android only -->
    version   = "1.0.0">

<name>TestApp</name>

<description>
    Testing nve regobs integration 
</description>
<access origin="http://h-web01.nve.no" />
<access origin="http://nve" />